<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/krod/projects/Java-projects/MavenTestNG_project/maven-project">
        <classes>
            <class name="com.mavenProject.app.Login">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
            <class name="com.mavenProject.app.Search">
                <methods>
                    <include name="testSearchFunctionality"/>
                </methods>
            </class>
            <class name="com.mavenProject.app.PlayPauseSong">
                <methods>
                    <include name="testPlay"/>
                    <include name="testPause"/>
                </methods>
            </class>
            <class name="com.mavenProject.app.SongControlFunctions">
                <methods>
                    <include name="playNextSong"/>
                    <include name="testGoBack"/>
                    <include name="openLyrics"/>
                </methods>
            </class>
            <class name="com.mavenProject.app.PlaylistOperations">
                <methods>
                    <include name="navPlaylistPg"/>
                    <include name="selectPlaylist"/>
                    <include name="playPlaylist"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>